<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/output.css" type="text/css" />
  <title><%- title %></title>
</head>

<body class="space-y-20">
  <header>
    <%- include('components/nav') %>
  </header>

  <main class="container mx-auto min-h-screen">
    <%- include(body) %>
  </main>

  <footer>
    <%- include('components/footer') %>
  </footer>
</body>

</html>